.info-mx{
    text-align: center;
    margin: 10px 80px;
    margin-top: 50px;
    font-size: large;
    font-weight: bold;
}
.info-mx-nav{
    margin: 10px 30px;
}
.text-info{
    margin-bottom: 0px;
    color: black !important;
}
.nav-sep{
    padding-left: 20px;
    padding-right: 20px;
}
.info-chart{
    position: relative;
    height: 80vh;
}
.results{
    font-weight: bold;
    font-size: x-large;
}


/* Para evitar que la imagen se vea fea y centrar el contenido de la seccion de titulo */
@media (min-width:990px){
    .info-chart{
        width: 50%;
        margin: 100px auto;
    }
}

@media (max-width:990px){
    .info-chart{    
        margin: 200px auto;
        width: 100%;
    }
}