<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Yuca-COVID</title>
  <link rel="icon" href="{{url_for('static', filename='images/covid_edit.png')}}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="https://example.com/favicon.png" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximumscale=1.0, user-scalable=no" />-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>


  <script src="https://kit.fontawesome.com/04f023429b.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <!--<script src="{{url_for('static', filename='js/utils.js')}}"></script>-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!--<script src="https://d3js.org/d3.v4.js"></script>-->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170144942-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-170144942-1');
  </script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">YucaCovid</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-right ml-auto">
        <li class="nav-item active nav-sep">
          <a class="nav-link" href="#inicio">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-sep">
          <a class="nav-link" href="#results">Estatal</a>
        </li>
        <li class="nav-item nav-sep">
          <a class="nav-link" href="#series">Diarios</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <h1 id="inicio" class="display-4">COVID Yucatán</h1>
    <p class="lead">Datos abiertos sobre los casos de coronavirus en el estado de Yucatán.</p>
  </div>
  <div class="alert alert-info texto-containers" role="alert">
    <h2>Aviso</h2>
    <p class="text-lg-left text-dark">El propósito de esta página es facilitar el acceso a los datos publicados por la
      <a href="https://www.gob.mx/salud/documentos/datos-abiertos-152127" target="_blank">Dirección General de
        Epidemiología</a> sobre la situación en Yucatán, debido a que el gobierno estatal no proporciona una base de
      datos de manera abierta, existe variación en los datos reportados.</p>
  </div>
  <div class="text-center">
    <a href="https://www.linkedin.com/in/luis-navarrete-baduy-53bb30176/" target="_blank"><i
        class="fab fa-linkedin fa-3x"
        style="color: #0072b1; margin-top:10px; margin-bottom:10px; padding-left: 10px; padding-right: 10px;"></i></a>
    <a href="https://github.com/Luisbaduy97" target="_blank"><i class="fab fa-github fa-3x"
        style="color:black; margin-top:10px; margin-bottom:10px padding-left: 10px; padding-right: 10px;"></i></a>
  </div>
  <!--Cards-->
  <section id="results">
    <h2>Casos estatales</h2>
    <div class="row info-mx">
      <div class="results-col col-lg-3">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header adjust">Positivos</div>
          <div class="card-body">
            <h5 class="card-title results">{{message.positivos.positivo_total}}</h5>
          </div>
        </div>
      </div>
      <div class="results-col col-lg-3">
        <div class="card text-white bg-warning mb-3">
          <div class="card-header">Confirmar</div>
          <div class="card-body">
            <h5 class="card-title  results">{{message.confirmar}}</h5>
          </div>
        </div>
      </div>
      <div class="results-col col-lg-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Negativos</div>
          <div class="card-body">
            <h5 class="card-title  results">{{message.negativos.negativo_total}}</h5>
          </div>
        </div>
      </div>
      <div class="results-col col-lg-3">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-header">Muertes</div>
          <div class="card-body">
            <h5 class="card-title  results">{{message.defunciones}}</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="alert alert-info texto-containers mb-0" role="alert">
    <ul>
      <li>
        <p class="text-lg-left text-dark mb-0">Los puntos rojos en el mapa representan los municipios con casos de COVID
          reportados por la <a href="https://www.gob.mx/salud/documentos/datos-abiertos-152127"
            target="_blank">Dirección General de Epidemiología</a>.</p>
      </li>
    </ul>
  </div>
  <section class="container-fluid mx-auto mt-0 pt-0">
    <div class="row px-lg-5 py-5">
      <div class="col-lg-12">
        <div id="map" style="height:500px;"></div> <!-- Mapa de casos -->
      </div>
    </div>
  </section>
  <script>
    var lat = {{ message.lat }};
    var lon = {{ message.lon }};
    var muni = {{ message.muni | tojson }};
    var posi = {{ message.posi }};
    var neg = {{ message.neg }};
    var conf = {{ message.conf }};
    var tam = {{ message.tam }};

    //console.log(posi);
    // pass option to turn scroll wheel zoom off
    var map = L.map('map', { scrollWheelZoom: true }).setView([20.97537, -89.61696], 8);

    // add base map tiles from OpenStreetMap and attribution info to 'map' div
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    for (let i = 0; i < lat.length; i++) {
      if (posi[i] > 0) {
        // add circle by passing center, radius, and some basic styles
        var circle = L.circle([lat[i], lon[i]], posi[i] + 3000, { color: 'red', opacity: 1, fillColor: '#f03', fillOpacity: .5 }).addTo(map);
        var texto = "<p>" + muni[i] + "<br>" + "Positivos " + posi[i].toString() + "</p>";
        circle.bindPopup(texto);
        circle.on('mouseover', function (e) {
          this.openPopup();
        });
        circle.on('mouseout', function (e) {
          this.closePopup();
        });
      }
    }
  </script>
  <div class="alert alert-info texto-containers mb-0" role="alert">
    <p class="text-lg-left text-dark mb-0">El siguiente gráfico representa el número acumulado de casos desde la primera
      sospecha de COVID en el estado:</p>
    <ul>
      <li>
        <p class="text-lg-left text-dark mb-0">La curva de color de rojo representa el incremento de casos positivos.
        </p>
      </li>
      <li>
        <p class="text-lg-left text-dark mb-0">La curva de color de azul representa el incremento de casos negativos.
        </p>
      </li>
    </ul>
  </div>
  <div class="container">
    <h2 id="series">Casos diarios</h2>
  </div>
  <div class="info-chart">
    <canvas id="myChart"></canvas>
  </div>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: {{ message.fechas | tojson }},
    datasets: [{
      label: 'Casos positivos',
      backgroundColor: 'rgb(255, 0, 0)',
      fill: false,
      borderColor: 'rgb(255, 0, 0)',
      data: {{ message.positivos.positivo_array | tojson }}
        },
    {
      label: 'Casos negativos',
      backgroundColor: 'rgb(24, 91, 179)',
      fill: false,
      borderColor: 'rgb(24, 91, 179)',
      data: {{ message.negativos.negativo_array | tojson }}
        }]
      },

    // Configuration options go here
    options: {
      responsive: true,
        maintainAspectRatio: false,
          title: {
        display: true,
          text: 'Número de casos'
      },
      tooltips: {
        mode: 'index',
          intersect: false,
				},
      hover: {
        mode: 'nearest',
          intersect: true
      },
    }
    });
  </script>
  <!--                     -->
  <!--<script src="data.js"></script>-->
  <div class="alert alert-info texto-containers mb-0" role="alert">
    <p class="text-lg-left text-dark mb-0">Si presentas síntomas comunícate al Call Center 800 YUCATÁN (982 2826)
      o a la Unidad de Inteligencia Epidemiológica y Sanitaria 800 00 44 800.
    </p>
  </div>
  <footer>
    <div class="text-center">
      <a href="https://www.linkedin.com/in/luis-navarrete-baduy-53bb30176/" target="_blank"><i
          class="fab fa-linkedin fa-3x"
          style="color: #0072b1; margin-top:10px; margin-bottom:10px; padding-left: 10px; padding-right: 10px;"></i></a>
      <a href="https://github.com/Luisbaduy97" target="_blank"><i class="fab fa-github fa-3x"
          style="color:black; margin-top:10px; margin-bottom:10px padding-left: 10px; padding-right: 10px;"></i></a>
      <p>© Copyright 2020 Yuca-COVID</p>
    </div>
  </footer>
</body>

</html>